nav{
    background-color: rgb(99, 227, 87);
    width: auto;
    height: 5%;
    display: flex;
    gap: 15px;
}

.qu-1{
    margin-left: auto;
    color: white;
      }
.qu-2{
color: white;
width: 40px;
height: 40px;
border: 2px solid white;
padding: 1px 2px;
font-weight: bold;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
background-position: 0%;
      }

.Assessment{
    color: white;
    margin-right: auto;
    }
   
    
   .box1{
       border: 2px dashed black;
       width: 350px;
       border-radius: 20px;
       overflow: hidden;
       margin: 50px 10px 10px;
       }
       .box1,:hover{
        border-color: black;
        box-shadow: 0 0 10px (green);
       }
    .Red{
        background-color: red;
        width: 350px;
        height: 100px;
    }
    .box2{
       border: 2px dashed black;
       width: 350px;
       border-radius: 20px;
       overflow: hidden;
       margin: 50px 10px 10px;
       }
       .box2,:hover{
        border-color:black;
        box-shadow: 0 0 10px (green);
       }
    .blue{
        background-color: rgb(55, 0, 255);
        width: 350px;
        height: 100px;
    }
    .box3{
       border: 2px dashed black;
       width: 350px;
       border-radius: 20px;
       overflow: hidden;
       margin: 50px 10px 10px;
       }
       .box3,:hover{
        border-color:black;
        box-shadow: 0 0 10px (green);
       }
    .yellow{
        background-color: rgb(212, 255, 0);
        width: 350px;
        height: 100px;
    }
    .box4{
       border: 2px dashed black;
       width: 350px;
       border-radius: 20px;
       overflow: hidden;
       margin: 50px 10px 10px;
       }
       .box4,:hover{
        border-color:black;
        box-shadow: 0 0 10px (green);
       }
    .green{
        background-color: rgb(0, 255, 55);
        width: 350px;
        height: 100px;
    }
   .box5{
       border: 2px dashed black;
       width: 350px;
       border-radius: 20px;
       overflow: hidden;
       margin: 50px 10px 10px;
       }
       .box5,:hover{
        border-color:black;
        box-shadow: 0 0 10px (green);
       }
    .purple{
        background-color: rgb(255, 0, 238);
        width: 350px;
        height: 100px;
    }
    .box6{
       border: 2px dashed black;
       width: 350px;
       border-radius: 20px;
       overflow: hidden;
       margin: 50px 10px 10px;
       }
       .box6,:hover{
        border-color:black;
        box-shadow: 0 0 10px (green);
       }
    .pink{
        background-color: rgb(213, 19, 123);
        width: 350px;
        height: 100px;
    }
   .box7{
       border: 2px dashed black;
       width: 350px;
       border-radius: 20px;
       overflow: hidden;
       margin: 50px 10px 10px;
       }
       .box7,:hover{
        border-color:black;
        box-shadow: 0 0 10px (green);
       }
    .brown{
        background-color: rgb(78, 56, 56);
        width: 350px;
        height: 100px;
    }
    .box8{
       border: 2px dashed black;
       width: 350px;
       border-radius: 20px;
       overflow: hidden;
       margin: 50px 10px 10px;
       }
       .box8,:hover{
        border-color: green;
        box-shadow: 0 0 10px (black);
       }
    .orange{
        background-color: orange;
        width: 350px;
        height: 100px;
    }
    .container-1{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        cursor: pointer;
        margin: auto;
        }
    .container-2{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        cursor: pointer;
        margin: auto;
    }