nav{
    background-color: rgb(4, 4, 110);
    width: auto;
    height: 5%;
    display: flex;
    gap: 15px;
}

.qu-1{
        display: flex;
        text-align: left;
    }

.Assessment{
    justify-content: center;
    display: inline;
    color: white;
    }
   
    
    .box1{
       border: 2px solid black;
       width: 220px;
       border-radius: 20px;
       overflow: hidden;
       margin: 50px 10px 10px;
    }
    .Red{
        background-color: red;
        width: 250px;
        height: 100px;
    }
    .box2{
       border: 2px solid black;
       width: 220px;
       border-radius: 20px;
       overflow: hidden;
       margin: 50px 10px 10px;
    }
    .blue{
        background-color: rgb(55, 0, 255);
        width: 250px;
        height: 100px;
    }
    .box3{
       border: 2px solid black;
       width: 220px;
       border-radius: 20px;
       overflow: hidden;
       margin: 50px 10px 10px;
    }
    .yellow{
        background-color: rgb(212, 255, 0);
        width: 250px;
        height: 100px;
    }
    .box4{
       border: 2px solid black;
       width: 220px;
       border-radius: 20px;
       overflow: hidden;
       margin: 50px 10px 10px;
    }
    .green{
        background-color: rgb(0, 255, 55);
        width: 250px;
        height: 100px;
    }
    .box5{
       border: 2px solid black;
       width: 220px;
       border-radius: 20px;
       overflow: hidden;
       margin: 50px 10px 10px;
    }
    .purple{
        background-color: rgb(255, 0, 238);
        width: 250px;
        height: 100px;
    }
    .box6{
       border: 2px solid black;
       width: 220px;
       border-radius: 20px;
       overflow: hidden;
       margin: 50px 10px 10px;
    }
    .pink{
        background-color: rgb(213, 19, 123);
        width: 250px;
        height: 100px;
    }
    .box7{
       border: 2px solid black;
       width: 220px;
       border-radius: 20px;
       overflow: hidden;
       margin: 50px 10px 10px;
    }
    .brown{
        background-color: rgb(78, 56, 56);
        width: 250px;
        height: 100px;
    }
    .box8{
       border: 2px solid black;
       width: 220px;
       border-radius: 20px;
       overflow: hidden;
       margin: 50px 10px 10px;
    }
    .orange{
        background-color: orange;
        width: 250px;
        height: 100px;
    }